:root {
  --dark-main: #293534;
  --light-main: #E2E2D5;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--dark-main);
  margin: 0;
}

body {
  background-color: var(--light-main) !important;
  scroll-behavior: smooth;
}

/* --- HEADER --- */

header h1 {
  letter-spacing: -1px;
}

header p {
  opacity: 0.85;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* --- FOOTER --- */

footer {
  font-size: 0.9rem;
  background-color: var(--light-main) !important;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}
